body{
    width: 1600px;
    margin: 0 auto;
box-sizing: border-box;
position: relative;
overflow-x: scroll;

}
.watch{
  height:780px;
  background-image: url(./assets/images/Giant\ Panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  

}
.nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
}
.nav a{
    color: white ;
}
.list{
    display: flex;
    flex-direction: row;
    width: 60%;
    
}
.header{
    position:  fixed;
  width: 1600px;
  z-index: 100;
    
 
}
header li{
    display: flex;
    align-items: center;
}
.desinedBy{
Width:105px;
Height:22px;
}
.petStoryA{
    border: WHITE solid 2px;
}
.navList{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    list-style: none;
    width: 60%;

}
.buttonWo{
width:30%;
height: 70%;
    position: absolute;
    right:219px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    top:166px;
    left: 880px;
}
.watchOnline , .favoriteBtn, .feedFreidbtn, .feedbackbtn{
    width:298px;
    height:54px;
    background-color: #F9804B;
    border-radius: 25px;
    color:white;
    text-transform: uppercase;
    border: 0px;

}

.feedbackbtn{
    align-self: flex-start;
    margin-left: 130px;
}
.favoriteBtn{
    margin-top: 80px;
    margin-bottom: 100px;
}
.favorite{
    color:#FFEE2E;
}
.circle{
    background-color: #F9804B;
    width: 465px;
    z-index: 1;
    height: 465px;
    border-radius: 50%;
    position: absolute;
   top:92px;
    right: 326px;
}
.text{
    padding: 0px;
    margin:0px;
   text-transform: uppercase;
    text-align: center;
    color:white;
    font-family: 'Roboto';
font-style: normal;
line-height: 75%;
font-weight: 700;
font-size: 106.496px;

}
.h1Div{
    display: flex;
    width:500.31px;
    z-index: 50;
    flex-direction: column;
    justify-content: center;
    height:400px;
}
.section1{
    width: 1600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow:hidden;
}
.bambooCap{
/* position: absolute;
top: 920px;
left: 219px; */

width: 609px;
background-size: cover;
background-repeat: no-repeat;
height:403px;
background-image: url(./assets/images/bamboo-cap.jpg);
}


.article1{
    width:465px;
    height: 403px;
  justify-content: space-between;
  align-content: space-between;
    display: flex;
    flex-direction: column;
    color: #333B41;
}
.article1Text{
    width:465px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
.article1Text1{
width:465px;
margin:0px;
display: flex;
flex-direction: column;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
}
.article1H2{
    width:465px;
    margin:0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
display: flex;
    flex-direction: column;
}
.article1H3{
    width:217px;
 margin:0px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
}

.flowerImg{
    width:293px;
    height:605px;
   position: absolute;
   right: -100px;
   top: 0px;
   
}
.animalsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.arrows{
    Width:16px;
Height:8px;
}
.left,.right{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #F9804B;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.animalsCards{
    width: 1158px;
    height:872px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.animalDesc{
    display: flex;
    position: sticky;
    bottom: 0px;
    left: 0px;
    justify-content: space-around;
    flex-direction: column;
}
.iconVegan{
   
    background-repeat: no-repeat;
    background-image: url("./assets/images/bamboobannanas.png");
   
}
.icon{
    background-repeat: no-repeat;
    background-image: url("./assets/images/steak_icon.png");
    display: flex;
    justify-content: last baseline;
    
   
}
.icon img{
    margin-top: 12px;
}
.animalName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h6,h4{
    margin:0px;
    padding: 0px;
    
}
.card{
    display:flex;
    height: 45%;
    width:30%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.card img{
    width: 100%;
}

.animals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    margin-top:180px;
   
}
.palm{
    position: absolute;
    background-image: url("./assets/images/palm_foto (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    Width:880px;
Height:460px;
bottom: 0px;
left: 0px;
z-index: -1;
}
.strelitzia{
  position: absolute;
  width: 368px;
  height: 275px;
  right: 0px;
  bottom: 0px;
  background-image: url("./assets/images/strelitzia\ 1\ \(2\).png");
  background-size: contain;
  background-repeat: no-repeat;

}
button:hover,.right:hover,.left:hover{
    cursor: pointer;
    background-color: #c54b17;
}
.pink{
    height: 1004px;
    display: grid;
    place-items: center;
    background-color: #FEBDAB;
}

.pinkH3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
color:#FE9013;
text-align: center;
}
.pinkH4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41;
}
.pinkP{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.pinkH32{
Width:209px;
Height:47px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
}
.content{
    display: flex;
    flex-direction: column;
    height: 835px;
    width: 1160px;
    background-color: #fce5da;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border-radius: 20px;
    position: relative;
}
.pinkImages{
 display:flex;
 flex-direction:row;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 width: 800px;
}
.pinkCards{
    width:168px;
    height:100%;

    border:1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.pinkBorder{
    width: 168px;
    height: 168px !important;
    background-color:white ;
    border-radius: 5px;
    border-color:#F9804B;
    display: flex;
    
    border : 1px solid #F9804B;
}

.zooImage{
 
    justify-self: center;
    align-self: center;
    margin:auto;
}
.pinkDesc{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
display: flex;
flex-direction: column;
}
/* .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */
.testimonialH5{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #000000;
}

.testimonialsH3{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;

    color: #333B41;
    text-align: center;
}
.articlesSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 268px;
    height: 391px;
}
.articletestimonialsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.testimonials {
    display: flex;
    width:1600;
    height: 800px;
    display: flex;
    position: relative;
justify-content: space-center;
flex-direction: column;
align-items: center;
}
.testimonContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    height: 90%
}
.tetimonialCards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;  
    align-items: center;
}

.headingTestimonial{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tetimonialCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.Tcard{
    display: flex;
    height: 391px;
    width: 268px;
   
    border-radius: 20px;
    
    flex-direction: column;
 
    background-color: #F1F3F2;
    border-radius: 5px;


}
.Tparagraph{
    width: 95%;
    height: 100%;
    white-space:inherit; 
  overflow: hidden;
  text-overflow:inherit; 
}
.Tparagraph:hover {
    overflow-y: scroll;
  }

.TcardHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  
}

.Theaders{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.scrollmenu {
    background-color: white;
    overflow: auto;
    justify-self: last baseline;
    white-space: nowrap;
    width: 600px !important;
    height:6px !important;
    color: white;
    border: 1px solid #FE9013;
    border-radius: 5px
  }
.Progres{
    width: 115.19px;
    height: 100%;
    background-color: #FE9013;
}
  
.scrollmenu:hover {
    background-color: #777;
  }

.leaf{
  position: absolute;
  width: 300px;
  height: 299px;
  right: 0px;
  bottom: 0px;
  rotate: -1deg;
}
.footer{
    width:1600px;
    height:443px;
    background-color:  #111115;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 220px;
    box-sizing: border-box;

}
.petStoryb{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;

text-align: center;

color: #FFFFFF;

border: 1.18841px solid #FFFFFF;
}
.subscribeNews{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
}
#email{
    width: 211px;
height: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #BDBDBD;
}
.logo{
  width:73px ;
  height: 45px;  
  border: 1px solid white;
  text-align: center;
}
.footerBtn{
    border-radius: 0px;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.Ficon{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6a6a6c ;
}
.Ficon:hover{
    cursor: pointer;
    background-color: #333B41;
}
.footerLinks{
    display: flex;
    flex-direction: row;
    width: 50%;
    
}
.footerLinks a{
    margin-left: 30px;
    text-decoration: none;
    color: #DADADA;
}
a{
    text-decoration: none;
    color: #DADADA;
    text-transform: capitalize;
}
.linkWrap{
    height: 150px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.SecondColumn{
    width: 37%;
    display: flex;
    align-items: flex-end;
}
.footerNav{
   background-color: unset;
   margin-bottom: 50px;
   padding-left: 0px;
   width: 100%;

}
.thirdColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0px;
}

.footerDesign{
    align-self: flex-end !important;
}

input[type=email]{
    border: none;
    background-color: #111115;
     border: 2px solid #F9804B !important;
     width: 228px;
     height: 35px;
}
.emailBtn{
    width: 129px;
    height: 44px;
    background-color:#F1F3F2 ;
    color:#4B9200 ;
    border-radius: 5px;
}
footer h3,footer p{
    color:#DADADA;
}
footer h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}
.footerDesign{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}
#active{
    text-decoration: underline;
    color:#F9804B;
}
a:hover{
    
  text-decoration: underline;
  color:#F9804B;
}

.Card:hover{

    background-color: #BDBDBD !important;
    
    }
